<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Test</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Test</ion-title>
		</ion-toolbar>
	</ion-header>
	<div id="container">
		<ion-button (click)="captureImage()">Click Picture</ion-button>
		<img [src]="clickedImage" />
		<br>
		<br>
		<br>
		<ion-button (click)="captureAudio_()">Audio</ion-button>
		<ion-button (click)="captureImage_()">Image</ion-button>
		<ion-button (click)="captureVideo_()">Video</ion-button>
		<br>
		<br>
		<br>
		<ion-row>
			<ion-col>
				<ion-button (click)="captureAudio()">Click Audio</ion-button>
			</ion-col>
			<ion-col>
				<ion-button (click)="captureVideo()">Click Video</ion-button>
			</ion-col>
		</ion-row>
		<ion-list>
			<ion-item *ngFor="let file of mediaFiles" tappable (click)="play(file)" text-wrap>
				{{ file.name }}
				<p>{{ file.size / 1000 / 1000 | number }} MB</p>
			</ion-item>
		</ion-list>
		<video controls autoplay #myvideo></video>
	</div>
</ion-content>